{% extends 'base-add-value.html' %}

{% block title %}
    {{ column.config.name }}
{% endblock %}

{% block head_css2 %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.bootstrap4.min.css') }}">
    <style>
        .sres-add-value-container-header {
            padding: 0.3rem 0.6rem !important;
        }
        .sres-sketch-container {
            //padding-top: 0.5em;
        }
        .sres-sketch-area {
            border: 1px solid #999;
        }
        .sres-data-display-fadeout {
            background-image: linear-gradient(90deg, #000000 0%, rgba(0,0,0,0));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position:relative;
            display:inline-block;
        }    
		.btn-round.btn-xs {
			width: 24px;
			height: 24px;
			border-radius: 50%;
		}
		body {
			padding-bottom: 70px;
		}
        
    </style>
{% endblock %}

{% block head_js2 %}
    <script>
        ENV['COLUMN_UUID'] = '{{ column.config.uuid }}';
        ENV['show_quickinfo'] = {{ vars.show_quickinfo|tojson }};
        ENV['show_name_columns'] = {{ vars.show_name_columns|tojson }};
        ENV['truncate_data_display_after'] = {{ vars.truncate_data_display_after|tojson }};
        ENV['popout_title_style'] = '{{ column.config.custom_options.rollview_popout_editor_title }}';
        ENV['popout_change_edit_button_colour'] = '{{ column.config.custom_options.rollview_display_change_edit_button_colour }}';
        ENV['reload_quickinfo_upon_saving'] = '{{ column.config.custom_options.rollview_reload_quickinfo_upon_saving }}';
        ENV['sdak'] = {% if vars.sdak %}'{{ vars.sdak }}'{% else %}''{% endif %};
    </script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autocomplete.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sres.add-value-roll.js', rand=range(1000,9999)|random|string) }}"></script>
    {% if vars.previewing %}
        <script>
            ENV['COLUMN_SDA_PREVIEW_ENDPOINT_IDENTIFIED'] = "{{ url_for('entry.add_value_roll', table_uuid=table.config['uuid'], column_uuid=column.config['uuid'], sdak=vars.sdak, show_nav=vars.show_nav, identifier='__identifier__', preview='1', _external=True)|safe }}";
            ENV['COLUMN_SDA_PREVIEW_ENDPOINT_RANDOM'] = "{{ url_for('entry.add_value_roll', table_uuid=table.config['uuid'], column_uuid=column.config['uuid'], sdak=vars.sdak, show_nav=vars.show_nav, preview='1', _external=True)|safe }}";
        </script>
    {% endif %}
    <!--- offline mode --->
    <script>
        ENV['data-sres-offline-authuser'] = '{{ vars.auth_user }}';
        ENV['data-sres-offline-title'] = {{ table.get_full_name()|tojson }} + ' - ' + {{ column.config.name|tojson }} + ' (' + {{ column.config.description|tojson }} + ') : ' + {{ shown_groups_friendly|join(", ")|tojson }};
    </script>
    {# service worker loading #}
	<script>
        var swUrl = '{{ url_for("entry.add_value_service_worker") }}' + '?pingUrl=' + '{{ url_for("static", filename="js/sres.ping.js", _external=True) }}';
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register(swUrl).then(function(registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
	</script>
{% endblock %}

{% block body %}
    
    {% import 'add-value-modules.html' as add_value_modules %}
    
	<div class="row mt-2">
		<div class="col">
			<h4>{{ column.config.name }}</h4>
			<h5>{{ column.config.description }}</h5>
		</div>
    </div>
    {% if vars.grouping_column %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2">
                <div style="display: flex;">
                    <select id="group_selector_a" class="selectpicker" multiple title="Select group(s)" data-width="fit">
                        <option value="" {% if '' in vars['shown_groups'] %}selected{% endif %}>Everyone</option>
                        {% for grouping_column_group in vars.grouping_column_groups %}
                            <option value="{{ grouping_column_group }}" {% if grouping_column_group in vars.shown_groups %}selected{% endif %}>
                                {{ grouping_column_group }}
                            </option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn btn-outline-primary" id="group_selector_button">Show</button>
                </div>
            </div>
        </div>
    {% endif %}
    {% if 'group' in request.args or vars.grouping_column_groups|length == 0 %}
		<div class="row">
			<div class="col-sm-12">
            <table class="table table-striped table-bordered dt-responsive" id="roll_table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="sres-rollview-preferredname">Preferred</th>
                        <th class="sres-rollview-surname">Surname</th>
                        {% if vars.show_sid_column %}
                            <th class="sres-rollview-sid">SID</th>
                        {% endif %}
                        {% if vars.grouping_column and vars.show_group_column %}
                            <th class="sres-rollview-group">Group</th>
                        {% endif %}
                        {% if vars.show_quickinfo %}
                            <th class="sres-rollview-quickinfo">{{ vars.show_quickinfo_header }}</th>
                        {% endif %}
                        <th class="sres-rollview-dataentry">
                            <div class="float-left">{{ column.config.custom_options.rollview_data_entry_header or "Data entry" }}</div>
                            <div class="float-right">
                                <span class="dropdown">
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="dropdown" aria-label="Resize data entry column">
                                        <span class="fa fa-arrows-alt-h" aria-hidden="true"></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item sres-data-entry-width-adjust" data-sres-width-adjust="5vw">5% width</a>
                                        <a href="#" class="dropdown-item sres-data-entry-width-adjust" data-sres-width-adjust="25vw">25% width</a>
                                        <a href="#" class="dropdown-item sres-data-entry-width-adjust" data-sres-width-adjust="50vw">50% width</a>
                                        <a href="#" class="dropdown-item sres-data-entry-width-adjust" data-sres-width-adjust="75vw">75% width</a>
                                    </div>
                                </span>
                                <span class="dropdown">
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="dropdown" aria-label="More options">
                                        <span class="fa fa-ellipsis-h" aria-hidden="true"></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        {% if ( ((column.config.type == "attendance") or (column.config.type == "mark")) and (column.config.simple_input.allow_free == 'true') ) or ( column.config.type == "multiEntry" and not vars.editor_mode_popout ) %}
                                            <a href="javascript:void(0);" class="sres-button-save-all dropdown-item"><span class="fa fa-save" aria-hidden="true"></span> Save all</a>
                                            <div class="dropdown-divider"></div>
                                        {% endif %}
                                        <a href="javascript:void(0);" id="apply_data_to_all" class="dropdown-item"><span class="fa fa-forward" aria-hidden="true"></span> Choose data to apply to all</a>
                                        <div class="dropdown-divider sres-backup-bulk-actions d-none"></div>
                                        <h6 class="dropdown-header sres-backup-bulk-actions d-none"><span class="fa fa-bolt" aria-hidden="true"></span> Data backups</h6>
                                        <a href="javascript:void(0);" class="sres-backup-review-all sres-backup-bulk-actions d-none dropdown-item"><span class="fa fa-play-circle" aria-hidden="true"></span> Review all displayed backups</a>
                                        <a href="javascript:void(0);" class="sres-backup-save-all sres-backup-bulk-actions dropdown-item"><span class="fa fa-cloud-upload-alt" aria-hidden="true"></span> Save all displayed backups</a>
                                    </div>
                                </span>
                            </div>
                        </th>
                        <th class="{{ vars.data_column_class }} sres-rollview-data">Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student_data in vars.student_list %}
                        {% set data_display_class = '' %}
                        {% set data_display_icon_class = 'fa fa-save' if student_data._data_json|length > 0 else '' %}
                        <tr data-sres-identifier="{{ student_data.sid }}" data-sres-preferred-name="{{ student_data.preferred_name }}" data-sres-surname="{{ student_data.surname }}" class="{{ tr_class }}">
                            <td>{% if vars.show_name_columns %}{{ student_data.preferred_name }}{% endif %}</td>
                            <td>{% if vars.show_name_columns %}{{ student_data.surname }}{% endif %}</td>
                            {% if vars.show_sid_column %}
                                <td>{{ student_data.display_sid }}</td>
                            {% endif %}
                            {% if vars.grouping_column and vars.show_group_column %}
                                <td>{{ vars.student_groups[student_data.sid] }}</td>
                            {% endif %}
                            {% if vars.show_quickinfo %}
                                <td data-sres-role="quickinfo">{{ student_data.quickinfo|safe_no_script }}</td>
                            {% endif %}
                            <td data-sres-editor-mode="{{ column.config.type }}-{{ column.config.custom_options.rollview_popout_editor }}">
                                {% if vars.editor_mode_popout %}
                                    <button type="button" class="btn btn-sm btn-outline-primary sres-trigger-editor-popout"><span class="fa fa-pen" aria-hidden="true" aria-label="Edit data"></span></button>
                                {% else %}
                                    {{ add_value_modules.add_value_module(
                                        table=table,
                                        column=column,
                                        student_identifier=student_data.sid,
                                        unique_string='',
                                        callback_function_name='sendData',
                                        auth_user=vars.auth_user,
                                        data_to_display=student_data._data, 
                                        mode='roll',
                                        entry_mode='roll',
                                        readonly='',
                                        user_is_staff=vars.user_is_staff,
                                        do_not_trigger=True) 
                                    }}
                                {% endif %}
                                {# backup control for larger screens #}
                                <div class="sres-backup-available-notification sres-backup-available-notification-large d-sm-none d-md-block" style="display:none!important;">
                                    <button type="button" class="sres-backup-available-view btn btn-warning mr-2 mb-2"><span class="fa fa-play-circle" aria-hidden="true" aria-label="Review"></span> Review backup</button>
                                    <button type="button" class="sres-backup-available-save btn btn-warning mr-2 mb-2"><span class="fa fa-cloud-upload-alt" aria-hidden="true" aria-label="Save"></span> Save backup</button>
                                    <button type="button" class="sres-backup-available-delete btn btn-warning mr-2 mb-2"><span class="fa fa-trash" aria-hidden="true" aria-label="Delete"></span></button>
                                </div>
                                {# backup control for smaller screens #}
                                <div class="dropdown sres-backup-available-notification sres-backup-available-notification-small float-right d-sm-block d-md-none" style="display:none!important;">
                                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                        <span class="fa fa-bolt" aria-hidden="true"></span><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <h6 class="dropdown-header">Data backup available</h6>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0);" class="sres-backup-available-view dropdown-item"><span class="fa fa-play-circle" aria-hidden="true" aria-label="Review"></span> Review backup</a>
                                        <a href="javascript:void(0);" class="sres-backup-available-save dropdown-item"><span class="fa fa-cloud-upload-alt" aria-hidden="true" aria-label="Save"></span> Save backup to server</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:void(0);" class="sres-backup-available-delete dropdown-item"><span class="fa fa-trash" aria-hidden="true" aria-label="Delete"></span> Delete backup</a>
                                    </ul>
                                </div>
                            </td>
                            <td id="data_{{ student_data.sid }}" data-sres-role="data-store" data-sres-identifier="{{ student_data.sid }}" data-sres-data="{{ student_data._data|jsondump }}">
                                {% if column.config.type == 'image' %}
                                    <img src="{{ student_data._data|sresfileurl|safe }}">
                                {% else %}
                                    <span class="{{ data_display_icon_class }}" aria-hidden="true"></span>
                                    <span class="{{ 'sres-data-display-fadeout' if student_data._data_json|length > vars.truncate_data_display_after else '' }}">{% if student_data._data_json|length > 0 %}{{ student_data._data_json|truncate(vars.truncate_data_display_after, true) }}{% endif %}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        {% if vars.show_sid_column %}
                            <td></td>
                        {% endif %}
                        {% if vars.grouping_column and vars.show_group_column %}
                            <td></td>
                        {% endif %}
                        {% if vars.show_quickinfo %}
                            <td></td>
                        {% endif %}
                        <td>
                            <div class="float-right">
                                {% if ( ((column.config.type == "attendance") or (column.config.type == "mark")) and (column.config.simple_input.allow_free == 'true') ) or ( column.config.type == "multiEntry" and not vars.editor_mode_popout ) %}
                                    <a href="javascript:void(0);" class="sres-button-save-all btn btn-outline-primary"><span class="fa fa-save" aria-hidden="true"></span> Save all</a>
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
		</div>
	{% endif %} <!--- struct key exists URL.group --->
    
    {# The script! #}
    {{ add_value_modules.add_value_module(
        table=table,
        column=column,
        callback_function_name='sendData',
        load_script_only=true,
        mode='roll',
        entry_mode='roll',
        readonly='',
        user_is_staff=vars.user_is_staff,
        do_not_trigger=True) 
    }}

	<!--- popout editor dialog, used for apply to all, and for individual popout mode --->
	<div class="modal fade" tabindex="-1" role="dialog" id="apply_data_to_all_modal">
		<input type="hidden" id="apply_data_to_all_modal_target_identifier">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Apply data</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="hidden" id="apply_data_to_all_modal_progress_container">
						<h4>Please wait...</h4>
						<div class="progress">
							<div id="apply_data_to_all_modal_progress_success" class="progress-bar bg-success" role="progressbar" style="width: 0%"></div>
							<!--div id="apply_data_to_all_modal_progress_queued" class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: 0%"></div-->
						</div>
					</div>
					<div id="apply_data_to_all_modal_input">
                        {{ add_value_modules.add_value_module(
                            table=table,
                            column=column, 
                            additional_class='sres-apply-data-to-all-modal',
                            callback_function_name='applyDataToAllApply', 
                            mode='single',
                            entry_mode='roll',
                            load_script=true,
                            user_is_staff=vars.user_is_staff,
                            do_not_trigger=True) 
                        }}
					</div>
				</div>
				<div class="modal-footer d-none" id="apply_data_to_all_modal_footer">
					<!---button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button--->
					When finished:&nbsp;
					<button type="button" class="btn btn-primary" id="apply_data_to_all_modal_refresh"><span class="fa fa-redo-alt" aria-hidden="true"></span> Refresh page</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
    
    <!--- modal for offline mode notification --->
    <div class="modal fade" tabindex="-1" role="dialog" id="sres_offline_mode_notification" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Offline mode</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p><span class="fa fa-bolt" aria-hidden="true"></span> Offline mode is now active.</p>
                    <p>
                        <strong>You can bookmark the current page to return to it easily when offline</strong>.
                        We also recommend you <strong>visit the 'Offline Home' page</strong> (click the lightning bolt in the top navbar) and bookmark that.
                    </p>
                    <p>You can deactivate offline mode once your internet connectivity returns, in order to synchronise data to the server.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Thanks for letting me know</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <br>
    
    <script>
        /**
            Datatable
        **/
        var table = null;
        $(document).ready(function() {
            table = $('#roll_table').DataTable({
                dom: "<'row'<'col'i><'col'fr>><'row'<'col't>><'row'<'col'l><'col'p>>",
                lengthMenu: [ [10, 30, 50, 100, -1], [10, 30, 50, 100, "All"] ],
                buttons: [ 
                    {
                        extend: 'csvHtml5',
                        exportOptions: { 
                            columns: [0,1,2,-1],
                            format: {
                                body: function(data, row, column, node){
                                    if (column == 3) {
                                        let d = $( table.cell(row, -1).node() ).data('sres-data');
                                        if (typeof d === 'object') {
                                            return JSON.stringify(d);
                                        } else {
                                            return d;
                                        }
                                    } else {
                                        return data;
                                    }
                                }
                            }
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: { 
                            columns: [0,1,2,-1],
                            format: {
                                body: function(data, row, column, node){
                                    if (column == 3) {
                                        let d = $( table.cell(row, -1).node() ).data('sres-data');
                                        if (typeof d === 'object') {
                                            return JSON.stringify(d);
                                        } else {
                                            return d;
                                        }
                                    } else {
                                        return data;
                                    }
                                }
                            }
                        }
                    }
                ],
                pageLength: parseInt({{ vars.rollview_pagination_page_length_default|tojson }}),
                responsive: true,
                columnDefs: [
                    { responsivePriority: 5, targets: -2 },
                    { responsivePriority: 30, targets: [0, 1] {% if not vars.show_name_columns %}, visible: false{% endif %} },
                    { responsivePriority: 10000, targets: 'sres-rollview-data' {# % if vars.data_column_class == 'none' %}, visible: false{% endif % #} },
                    { targets: 'sres-rollview-dataentry', orderable: false}
                    {% if vars.show_quickinfo %}
                        ,{ responsivePriority: {{ vars.show_quickinfo_priority|int|tojson }}, targets: -3 }
                    {% endif %}
                ],
                autoWidth: false,
                columns: [
                    { name: 'preferred-name' },
                    { name: 'surname' },
                    {% if vars.show_sid_column %}
                        { name: 'identifier' },
                    {% endif %}
                    {% if vars.grouping_column and vars.show_group_column %}
                        { name: 'group' },
                    {% endif %}
                    {% if vars.show_quickinfo %}
                        { name: 'quickinfo' },
                    {% endif %}
                    { 
                        name: 'data-entry'
                        {% if not vars.editor_mode_popout %}, width: '25vw'{% endif %} 
                    },
                    { name: 'data' }
                ],
                order: [[1, 'asc']]
            });
            table.buttons().container().insertAfter( '#roll_table_wrapper' );
            $('#roll_table').on('draw.dt', function(){
                $('.sres-addvalue-multientry-dropdown').selectpicker('refresh');
            });
        });
    </script>
    
{% endblock %}
