{% extends 'base-staff.html' %}

{% set table_uuid = table.config.uuid %}

{% block title %}
    {{ table.config.code }}
{% endblock %}

{% block head_css2 %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fixedHeader.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fixedHeader.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fixedColumns.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-editable.css') }}">
{% endblock %}

{% block head_js2 %}
    <script src="{{ url_for('static', filename='js/ajaxq.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.fixedColumns.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-sortable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/handlebars.js') }}"></script>
{% endblock %}


{% block body %}

    <main>

    <div class="row">
        <div class="col">
            <h1>
                {{ table.get_full_name() }} Column summary
                {% if table.config.workflow_state == "archived" %}<span class="badge badge-secondary">Archived</span>{% endif %}
                {% if table.config.workflow_state == "deleted" %}<span class="badge badge-warning">Deleted</span>{% endif %}
                <span class="float-right"><a href="#row_info_actions" data-toggle="collapse" id="collapse_row_info_actions" title="Show/hide action buttons"><span class="fa fa-chevron-up"></span></a></span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-hover table-condensed sres-main-table" id="main_table" data-sres-tableuuid="{{ table_uuid }}">
                <thead>
                    <tr>
                        <th>Column name</th>
                        <th>Column description</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Currently active</th>
                        <th>Single mode link</th>
                        <th>Bulk mode link</th>
                        <th>Roll view link</th>
			            <th>Student direct access link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for coluuid in all_columns_info %}
                        <tr>
                            <td>{{ all_columns_info[coluuid]['name'] }}</td>
                            <td>{{ all_columns_info[coluuid]['description'] }}</td>
                            <td>{{ all_columns_info[coluuid]['active']['from']|datetime }}</td>
                            <td>{{ all_columns_info[coluuid]['active']['to']|datetime }}</td>
                            <td>{{ all_columns_info[coluuid]['is_active'] }}</td>
                            <td><a href="{{ url_for('entry.add_value', table_uuid=table_uuid, column_uuid=coluuid, _external=True) }}">{{ url_for('entry.add_value', table_uuid=table_uuid, column_uuid=coluuid, _external=True) }}</a></td>
                            <td><a href="{{ url_for('entry.add_value_bulk', table_uuid=table_uuid, column_uuid=coluuid, _external=True) }}">{{ url_for('entry.add_value_bulk', table_uuid=table_uuid, column_uuid=coluuid, _external=True) }}</a></td>
                            <td><a href="{{ url_for('entry.add_value_roll', table_uuid=table_uuid, column_uuid=coluuid, _external=True) }}">{{ url_for('entry.add_value_roll', table_uuid=table_uuid, column_uuid=coluuid, _external=True) }}</a></td>
			                {% if all_columns_info[coluuid]['student_editing_allowed'] and all_columns_info[coluuid]['student_direct_access_active'] %}
                                <td><a href="{{ url_for('table.show_student_direct_access_links', table_uuid=table_uuid, column_uuid=coluuid, _external=True) }}">{{url_for('table.show_student_direct_access_links', table_uuid=table_uuid, column_uuid=coluuid, _external=True)}}</a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    </main>

<script>
  $('#main_table').dataTable({
        'pageLength': 100,
        'lengthMenu': [[10,50,100,-1], [10,50,100,'All']],
        'dom': 'Bfrtip',
        'buttons': ['csv','excel']});
</script>

{% endblock %}
