<div class="modal fade" tabindex="-1" role="dialog" id="modal_progress">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="progress sres-modal-progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%;">
                    </div>
                </div>
                <div class="sres-modal-message">
                </div>
            </div>
            <div class="modal-footer hidden">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
