.sres-data-entry-container-header {
    padding: 0.3rem 0.6rem !important;
    cursor: pointer;
}

/*@media only screen and (max-width: 800px) {
    select,option {
        width:100% !important;
        position: relative;
        display: block;
        overflow: hidden;
        padding: 0 0 0 8px;
        height: 25px;
        border: 1px solid #aaa;
        border-radius: 5px;
        background-color: #fff;
        background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,#fff),color-stop(50%,#f6f6f6),color-stop(52%,#eee),to(#f4f4f4));
        background: linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
        background-clip: padding-box;
        -webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0,0,0,.1);
        box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0,0,0,.1);
        color: #444;
        text-decoration: none;
        white-space: nowrap;
        line-height: 24px;
    }
}*/

.sidebar {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0 0 0 0;
    height: 100vh;
}
.sidebar .nav-pills .nav-link {
    border-radius: 0px !important;
}

.dataTables_wrapper .dataTables_filter label {
    width: 100%;
}
.dataTables_wrapper .dataTables_filter label input[type=search] {
    width: 80%;
}

#dashboard_intelligence_container .carousel-item {
    height: 225px;
}
/*#dashboard_intelligence_container .sres-intelligence-card-message-container-parent {
    height: 60%;
    margin-bottom: 1rem;
}*/
#dashboard_intelligence_container .sres-intelligence-card-message-container {
    overflow-y: auto;
    height: 60%;
}

.sres-text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#search .btn.toggle[data-toggle='toggle'] {
    margin-bottom: 0.5rem;
}